.App {
  font-family: "Source Code Pro", monospace;
  color: #251605;
  padding: 20px;
  margin: 20px auto;
  border: 3px solid #109648;
  border-radius: 10px;
  width: 80%;
  background: #eff3fa;
}

@media screen and (max-width: 576px) {
  div.App {
    width: 95%;
  }
}
