div.CurrentWeather {
  width: 90%;
  border: 3px solid #109648;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}

.CurrentWeather ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

.CurrentWeather a {
  color: #251605;
  text-decoration: none;
  font-weight: 700;
  cursor: default;
}

.currentLocation img {
  width: 100px;
  border: 1px solid #109648;
  background: #fff;
  border-radius: 4px;
  float: right;
}

.temperature span {
  font-size: 36px;
  line-height: 1;
}

.temperature small {
  font-size: 16px;
  position: relative;
  top: -12px;
}

.windSpeedHumidity ul {
  font-size: 14px;
}

.windSpeedHumidity li {
  display: inline-block;
  width: 170px;
}

.windSpeedHumidity span {
  font-size: 36px;
}
