.Temperature span {
  font-size: 36px;
  line-height: 1;
}

.Temperature small {
  font-size: 16px;
  position: relative;
  top: -12px;
}

.Temperature .active {
  font-weight: normal;
}

.Temperature .active:hover {
  text-decoration: underline;
  cursor: pointer;
}
